In [8]:
#Importamos las librerias
import numpy as np
import pandas as pd
import requests

In [11]:
#Leemos el archivo de climatoligia diaria, utilizando un archivo de internet con pd.read_csv
url = "https://raw.githubusercontent.com/Ferlinn95/Computacional-I/master/Actividad%201/Climatologia%20Diaria.txt"
#requests.get(url)

In [13]:
#Asignamos nombres a nuestras columnas. 
my_cols = ['Fecha', 'Precip', 'Evap', 'Tmax', 'Tmin']
df_dist = pd.read_csv(url, names=my_cols, encoding='cp1251', sep='\s+', header=None, skiprows=19, skipfooter=1, engine='python')

In [14]:
#Esto permite imprimir los n renglones que quieras del encabezado y el final
print(df_dist.head(15))
print(df_dist.tail(15))

         Fecha Precip  Evap Tmax Tmin
0   01/08/1977      0  11.5   40   27
1   02/08/1977      0  10.9   39   27
2   03/08/1977      0  11.5   42   25
3   04/08/1977      0  11.5   43   24
4   05/08/1977      0  10.8   43   24
5   06/08/1977      0  12.9   40   30
6   07/08/1977      0   9.5   40   27
7   08/08/1977      0  10.9   39   24
8   09/08/1977      8  10.6   39   23
9   10/08/1977      0     9   38   21
10  11/08/1977      0   7.2   40   24
11  12/08/1977      0     9   40   27
12  13/08/1977      0     8   39   24
13  14/08/1977      4   8.9   39   25
14  15/08/1977    1.5   5.3   33   23
           Fecha Precip  Evap  Tmax Tmin
4026  17/12/2004      0  Nulo    23  3.5
4027  18/12/2004      0  Nulo    26    9
4028  19/12/2004      0  Nulo    27   10
4029  20/12/2004      0  Nulo    25   10
4030  21/12/2004    0.5  Nulo    28    6
4031  22/12/2004      1  Nulo    21  4.5
4032  23/12/2004    1.5  Nulo    13    6
4033  24/12/2004      0  Nulo    12  1.5
4034  25/12/2004      0  Nulo  14.5    3
4035  26/12/2004      0  Nulo    21  1.5
4036  27/12/2004      0  Nulo    22    6
4037  28/12/2004      0  Nulo    21    8
4038  29/12/2004      0  Nulo    23   11
4039  30/12/2004      0  Nulo    21  9.5
4040  31/12/2004      0  Nulo  Nulo    6

In [15]:
#Te permite saber la cantidad de datos por renglones y el total de columonas 
df_dist.shape

(4041, 5)

In [16]:
#Esto brinda informacion del archivo que estamos investigado 
df_dist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4041 entries, 0 to 4040
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   4041 non-null   object
 1   Precip  4041 non-null   object
 2   Evap    4041 non-null   object
 3   Tmax    4041 non-null   object
 4   Tmin    4041 non-null   object
dtypes: object(5)
memory usage: 158.0+ KB

In [17]:
#Hacemos una copia de trabajo y preservamos el dataframe original
df_work0 = df_dist.copy()
df_work0.head()

        Fecha Precip  Evap Tmax Tmin
0  01/08/1977      0  11.5   40   27
1  02/08/1977      0  10.9   39   27
2  03/08/1977      0  11.5   42   25
3  04/08/1977      0  11.5   43   24
4  05/08/1977      0  10.8   43   24

In [24]:
#Sustituimos los valores "Nulos" por espacios en blanco
str_Nulo = 'Nulo'
df_work1 = df_work0.replace(to_replace=str_Nulo, value='', regex=True)
df_work1.head()

        Fecha Precip  Evap Tmax Tmin
0  01/08/1977      0  11.5   40   27
1  02/08/1977      0  10.9   39   27
2  03/08/1977      0  11.5   42   25
3  04/08/1977      0  11.5   43   24
4  05/08/1977      0  10.8   43   24

In [25]:
# Como no tenia valones nulos decidi utilizar los valores de los ultimos valores
df_work1.tail()

           Fecha Precip Evap Tmax Tmin
4036  27/12/2004      0        22    6
4037  28/12/2004      0        21    8
4038  29/12/2004      0        23   11
4039  30/12/2004      0        21  9.5
4040  31/12/2004      0              6

In [29]:
# Imprimimos la información actualizada del dataframe
df_work1.info()
print(df_work1.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4041 entries, 0 to 4040
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   4041 non-null   object
 1   Precip  4041 non-null   object
 2   Evap    4041 non-null   object
 3   Tmax    4041 non-null   object
 4   Tmin    4041 non-null   object
dtypes: object(5)
memory usage: 158.0+ KB
        Fecha Precip  Evap Tmax Tmin
0  01/08/1977      0  11.5   40   27
1  02/08/1977      0  10.9   39   27
2  03/08/1977      0  11.5   42   25
3  04/08/1977      0  11.5   43   24
4  05/08/1977      0  10.8   43   24

In [28]:
# Imprimimos la información actualizada del dataframe, pero ahora para los ultimos datos
df_work1.info()
print(df_work1.tail())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4041 entries, 0 to 4040
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   4041 non-null   object
 1   Precip  4041 non-null   object
 2   Evap    4041 non-null   object
 3   Tmax    4041 non-null   object
 4   Tmin    4041 non-null   object
dtypes: object(5)
memory usage: 158.0+ KB
           Fecha Precip Evap Tmax Tmin
4036  27/12/2004      0        22    6
4037  28/12/2004      0        21    8
4038  29/12/2004      0        23   11
4039  30/12/2004      0        21  9.5
4040  31/12/2004      0              6

**Convetir objetos a numeros flotantes**

In [30]:
# Deseamos convertir los valores de las variables ambientales a núm. flotantes 
cols_list = ['Precip', 'Evap', 'Tmax', 'Tmin']
for cols in cols_list:
  df_work1[cols] = pd.to_numeric(df_work1[cols], errors='coerce')

df_work1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4041 entries, 0 to 4040
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   4041 non-null   object
 1   Precip  4040 non-null   float64
 2   Evap    2563 non-null   float64
 3   Tmax    4024 non-null   float64
 4   Tmin    4040 non-null   float64
dtypes: float64(4), object(1)
memory usage: 158.0+ KB

In [31]:
# De la instrucción anterior, vemos que hay valores faltantes. Sumamos los valores nulos. 
df_work1.isnull().sum()

Fecha        0
Precip       1
Evap      1478
Tmax        17
Tmin         1
dtype: int64

In [32]:
print(df_work1.head())
print(df_work1.head())

        Fecha  Precip  Evap  Tmax  Tmin
0  01/08/1977     0.0  11.5  40.0  27.0
1  02/08/1977     0.0  10.9  39.0  27.0
2  03/08/1977     0.0  11.5  42.0  25.0
3  04/08/1977     0.0  11.5  43.0  24.0
4  05/08/1977     0.0  10.8  43.0  24.0
        Fecha  Precip  Evap  Tmax  Tmin
0  01/08/1977     0.0  11.5  40.0  27.0
1  02/08/1977     0.0  10.9  39.0  27.0
2  03/08/1977     0.0  11.5  42.0  25.0
3  04/08/1977     0.0  11.5  43.0  24.0
4  05/08/1977     0.0  10.8  43.0  24.0

In [33]:
print(df_work1.tail())
print(df_work1.tail())

           Fecha  Precip  Evap  Tmax  Tmin
4036  27/12/2004     0.0   NaN  22.0   6.0
4037  28/12/2004     0.0   NaN  21.0   8.0
4038  29/12/2004     0.0   NaN  23.0  11.0
4039  30/12/2004     0.0   NaN  21.0   9.5
4040  31/12/2004     0.0   NaN   NaN   6.0
           Fecha  Precip  Evap  Tmax  Tmin
4036  27/12/2004     0.0   NaN  22.0   6.0
4037  28/12/2004     0.0   NaN  21.0   8.0
4038  29/12/2004     0.0   NaN  23.0  11.0
4039  30/12/2004     0.0   NaN  21.0   9.5
4040  31/12/2004     0.0   NaN   NaN   6.0

In [34]:
# Un análisis estadístico breve de las variables numéricas redondeado a 2 cifras significativas
df_work1.describe().round(2)

        Precip     Evap     Tmax     Tmin
count  4040.00  2563.00  4024.00  4040.00
mean      0.85     6.82    30.85    13.32
std       4.67     3.61     8.36     7.57
min       0.00     0.20     6.00    -3.50
25%       0.00     3.85    24.00     7.00
50%       0.00     6.40    32.00    12.00
75%       0.00     9.70    38.50    20.00
max     119.80    17.80    48.00    30.00

**Ahora trabajaremos con la variable de fecha**

In [35]:
# Ahora hacemos una pausa y definimos un nuevo dataframe por si hay que regresarse.
df_work2 = df_work1.copy()
df_work2['Fecha'].head()

0    01/08/1977
1    02/08/1977
2    03/08/1977
3    04/08/1977
4    05/08/1977
Name: Fecha, dtype: object

In [36]:
# Volvemos a hacer una pausa y definimos un nuevo dataframe por si hay que regresarse.
df_work2 = df_work1.copy()
df_work2['Fecha'].tail()

4036    27/12/2004
4037    28/12/2004
4038    29/12/2004
4039    30/12/2004
4040    31/12/2004
Name: Fecha, dtype: object

In [37]:
# Pandas tiene la función pd.to_datetime que convierte una cadena en tipo datetime64[ns]
# Intentamos a ver si Python reconoce el formato en nuestro caso. 
# Agregamos la opción de que el primer dato es el día (dayfirst=True)
df_work2['Fecha']=pd.to_datetime(df_work2['Fecha'], dayfirst=True).copy()
print(df_work1.head())

        Fecha  Precip  Evap  Tmax  Tmin
0  01/08/1977     0.0  11.5  40.0  27.0
1  02/08/1977     0.0  10.9  39.0  27.0
2  03/08/1977     0.0  11.5  42.0  25.0
3  04/08/1977     0.0  11.5  43.0  24.0
4  05/08/1977     0.0  10.8  43.0  24.0

In [38]:
# Observamos que la variable Fecha es de tipo 'datetime64[ns]'  
df_work2.dtypes

Fecha     datetime64[ns]
Precip           float64
Evap             float64
Tmax             float64
Tmin             float64
dtype: object

In [39]:
# Buscamos ahora añadir dos columnas adicionales: df['Año'], df['Mes']
# Usaremos la función .dt.year y .dt.month para extraer el Año y Mes de la Fecha
df_work2['Año'] = df_work2['Fecha'].dt.year
df_work2['Mes'] = df_work2['Fecha'].dt.month

In [40]:
# Verificamos que se hayan creado de forma correcta
# Tendremos ahora dos columnas adicionales que podemos utilizar para filtrar información.
print(df_work2.head())
print(df_work2.tail())

       Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
0 1977-08-01     0.0  11.5  40.0  27.0  1977    8
1 1977-08-02     0.0  10.9  39.0  27.0  1977    8
2 1977-08-03     0.0  11.5  42.0  25.0  1977    8
3 1977-08-04     0.0  11.5  43.0  24.0  1977    8
4 1977-08-05     0.0  10.8  43.0  24.0  1977    8
          Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
4036 2004-12-27     0.0   NaN  22.0   6.0  2004   12
4037 2004-12-28     0.0   NaN  21.0   8.0  2004   12
4038 2004-12-29     0.0   NaN  23.0  11.0  2004   12
4039 2004-12-30     0.0   NaN  21.0   9.5  2004   12
4040 2004-12-31     0.0   NaN   NaN   6.0  2004   12

In [41]:
# Verificamos que Año y Mes son variables enteras.
# Hasta aquí llegaremos esta semana. 
df_work2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4041 entries, 0 to 4040
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   4041 non-null   datetime64[ns]
 1   Precip  4040 non-null   float64
 2   Evap    2563 non-null   float64
 3   Tmax    4024 non-null   float64
 4   Tmin    4040 non-null   float64
 5   Año     4041 non-null   int64
 6   Mes     4041 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(2)
memory usage: 221.1 KB